@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.botao{
  border: 2px solid #7AC14E;
  color: #7AC14E;
  background-color: unset;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem 5rem;
  font-size: 24px;
  font-weight: 500;
}

.botao:hover{
  border: 2px solid white;
  color: white;
  background-color: #7AC14E;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
} 