@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.titulo{
  width: 144px;
  height: 33px;
  padding-left: 110px;
  margin-bottom: 0px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  
  color: #2C2C2C;

}

.texto {
  width: 491px;
  max-width: 491px;
  max-height: 74px;
  padding-left: 110px;
  margin-bottom: 10px;
  margin-top: 0px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #5E5E5E;
  word-break:break-all;

}

.postcard {
  width: 673px;
  height: 193px;

  background: #FFFFFF;
  border: 2px solid #70E864;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
  display: grid;

}

.cardbotton{
  width: 35px;
  height: 35px;
  padding-left: 608px;
}

.like{
  width: 35px;
  height: 35px;
  justify-content: space-between;
  padding-bottom: 30px;
}

.like:hover{
  cursor: pointer;
}